<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.atmel.avr32.launch.AVR32Application">
<stringAttribute key="AVR32_ATTR_DEBUG_INTERFACE" value="AVR32 Program/GDB-Proxy"/>
<stringAttribute key="AVR32_ATTR_ERASEMETHOD" value="ERASE_SECTORS"/>
<booleanAttribute key="AVR32_ATTR_FILE_RESET" value="true"/>
<booleanAttribute key="AVR32_ATTR_FILE_RUN" value="true"/>
<booleanAttribute key="AVR32_ATTR_FILE_VERIFY" value="false"/>
<stringAttribute key="AVR32_ATTR_GDBPROXY" value="avr32gdbproxy"/>
<stringAttribute key="AVR32_ATTR_GDB_TRACE_PORT" value="4712"/>
<intAttribute key="AVR32_ATTR_STK_ID" value="1"/>
<booleanAttribute key="AVR32_ATTR_SUPPRESS_PROGRAMMING" value="false"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.DEBUG_NAME" value="avr32-gdb"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.HOST" value="localhost"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.PORT" value="4711"/>
<booleanAttribute key="org.eclipse.cdt.debug.mi.core.REMOTE_TCP" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="org.eclipse.cdt.debug.mi.core.GDBServerCDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_REGISTER_GROUPS" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.FORMAT" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;contentList/&gt;"/>
<stringAttribute key="org.eclipse.cdt.launch.GLOBAL_VARIABLES" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;globalVariableList/&gt;&#10;"/>
<stringAttribute key="org.eclipse.cdt.launch.MEMORY_BLOCKS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;memoryBlockExpressionList/&gt;&#10;"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug/usart_Example_DEBUG.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="usart_Example"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/usart_Example"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.capture_output" value="false"/>
<stringAttribute key="process_factory_id" value="com.atmel.avr32.debug.ProcessFactory"/>
</launchConfiguration>
